.plr-100 {
    padding-left: 100px;
    padding-right: 100px;
}

.demandTitle h2 {
    text-align: left;
    font-weight: 600;
}

.demandName span {
    display: inline;
    text-align: left !important;
    padding: 2px 5px;
    margin-left: 10px;
    line-height: 30px;
    border: 1px solid #ccc;
}